*(copy)*
*bak*
*.*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*-local*
build/
develop-eggs/
eggs/
fake-eggs/
parts/
dist/
_build/
*.pyc
*.pyo
*.tmp*
*.swp
*.vim
.tox/
*.log
*.sh
.coverage
.metacache
*tasks
LAB/
apps/
spin/
LAB_*
CHECKLIST
TODO
*release*
.virtualenv
*yop*
Makefile
CONTRIB
LIB
