*(copy)*
*bak*
*.*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*-local*
build/
develop-eggs/
eggs/
fake-eggs/
parts/
dist/
_build/
*.pyc
*.pyo
*.tmp*
*.swp
*.vim
.tox/
*.log
*.sh
.coverage
.metacache
LAB/
apps/
spin/
LAB_*
*LAB*
CHECKLIST
TODO
*release*
.virtualenv
*yop*
Makefile
CONTRIB
LIB
.vscode/
env
pre-commit-*
.project
*tasks/
tasks.py
.bandit
.requirements-local
.pre-commit-config.yaml
.change*
